    h1 {
        color: rgb(255, 230, 0);
        margin: 0px;
        background: rgb(6, 22, 6)
    }

    .selected {
        background: blue
    }

    .favorites {
        text-decoration: double;
    }
    
    .body {
        margin: 0px;
    }

    li:hover {
        background: red;
    }

    li {
        background: rgb(235, 133, 16);
        display: inline-block;
        width: 20%;
    }
 
    .center {
        text-align: center;
    }