a {
    color:blue;
}
    h1 {
        color: rgb(255, 230, 0);
        margin: 0px;
        background: rgb(6, 22, 6)
    }


    li {
        background: rgb(235, 133, 16);
        display: inline-block;
        width: 20%;
    }

    li:hover {
        background: red;
    }

 
    .center {
        text-align: center;
    }

    .bold {
        font-weight:bold
    }

    @media only screen and (max-width: 400px) {
        head {
          font-weight: bold;
        }
    }

    #directormenu{
        background-color: aqua;
    }